<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed %></h2>

<!-- <p><%= @string %></p> -->
<h2>Vowels: <%= @analyzed %></h2>
<h2>Consonants: <%= @analyzed %></h2>

<h2>Most Common Letter: <%= @analyzed %></h2> used <%= @analyzed %></h2> times</h2>
